	
#div1 {
	font-family: Tahoma, Geneva, sans-serif;
	color: #FF3;
	position: absolute;
	left: 492px;
	top: 23px;
	width: 629px;
	height: 90px;
     }

#div2 {
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	position: absolute;
	position: absolute;
	width: 444px;
	height: 177px;
	z-index: 1;
	left: 308px;
	top: 191px;
     }
	 
#div3 {
	position: absolute;
	left: 790px;
	top: 173px;
	width: 432px;
	height: 280px;
	
     }
#div4 {
	font-family: Tahoma, Geneva, sans-serif;
	color: #FF3;
	position: absolute;
	left: 1px;
	top: 519px;
	width: 1477px;
	height: 106px;
	
	
     }
#div5 {
	color: #FFF;
	position: absolute;
	left: 108px;
	top: 980px;
	width: 345px;
	height: 259px;
	font-family: Tahoma, Geneva, sans-serif;
	}
#div6 {
	color: #FFF;
	position: absolute;
	left: 1099px;
	top: 978px;
	width: 347px;
	height: 259px;
	font-family: Tahoma, Geneva, sans-serif;
	}
	
#div7 {
	color: #FFF;
	position: absolute;
	left: 82px;
	top: 670px;
	width: 358px;
	height: 259px;
	font-family: Tahoma, Geneva, sans-serif;
	}

#div8 {
	color: #FFF;
	position: absolute;
	left: 1067px;
	top: 671px;
	width: 358px;
	height: 259px;
	font-family: Tahoma, Geneva, sans-serif;
	}

#div9 {
	color: #FFF;
	position: absolute;
	left: 587px;
	top: 975px;
	width: 358px;
	height: 259px;
	font-family: Tahoma, Geneva, sans-serif;
	}
	
#div10 {
	color: #FFF;
	position: absolute;
	left: 581px;
	top: 671px;
	width: 358px;
	height: 259px;
	font-family: Tahoma, Geneva, sans-serif;
	}
	
#gif{
	position: absolute;
	left: 426px;
	top: 373px;
	width: 225px;
	height: 126px;
	
     }
	 
#div11{
	position: absolute;
	left: 263px;
	top: 1333px;
	width: 515px;
	height: 126px;
	
     }
	
#div12{
	position: absolute;
	left: 879px;
	top: 1294px;
	width: 225px;
	height: 126px;
	
     }
	 
#div13{
	position: absolute;
	left: 1px;
	top: 1731px;
	width: 1509px;
	height: 106px;
	
     }
	 
	 
#div14{
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	position: absolute;
	left: 71px;
	top: 1736px;
	width: 884px;
	height: 96px;
	
     }
	 
#div15{
	position: absolute;
	left: 1414px;
	top: 1732px;
	width: 103px;
	height: 108px;
	
     }
